.header {
  position: absolute;
  width: 100%;
  /* height: 106px; */
  left: 0px;
  top: 0px;
  background: #92140C;

}

.title {
  /* Welcome to ST. MAVERICK SCHOOLS */

  /* position: absolute; */
  /* width: 603px;
  height: 48px;
  left: 418px; */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 100;
  font-size: 35px;
  line-height: 48px;
  /* identical to box height */
  text-align: center;

  color: #FFFFFF;
}

.subtitles {
  /* justify-content: center; */
  /* align-items: center; */
  border: 1px solid #000000;
  margin-top: 100px;

}

.subtitle {
  /* Maverick Schools Portal */

  /* position: absolute; */
  /* width: 268px;*/
  /* height: 33px; */

  /* left: 586px; */
  /* top: 107px; */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 0;
  /* identical to box height */
  text-align: center;

  color: #616161;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  margin-top: 10em;
  background: #F5E2C8;
  position: relative;
  width: 1440px;
  justify-content: space-evenly;
}

.logo {
  align-items: center;
  margin-left: 8%;
}

.logos {
  font-family: 'Manrope';
  font-style: extra-bold;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  /* line-height: 24px; */
  /* identical to box height */

  color: #5c2a71;
}

.image {
  width: 274px;
  border: 1px solid #000000;
}

.form-container {
  border: 1px solid #000000;
  width: 455px;
  height: 454px;
  background: #FFFFFF;
  /* align-content: center; */
}

.input-group {
  display: flex;
  /* flex-direction: column; */
  margin-bottom: 20px;
  margin-left: 20px;
  /* width: 358px;
  height: 72px; */
  /* border: 1px solid #000000; */
}









/* position: absolute;
width: 430px;
height: 372px;
left: 505px;
top: 200px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px; */