.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  background: #92140C;

}

.title {
  /* Welcome to ST. MAVERICK SCHOOLS */

  font-style: normal;
  font-weight: 100;
  font-size: 35px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}

.subtitles {
  margin-top: 96px;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;

}

.subtitle {
  /* Maverick Schools Portal */

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 0;
  text-align: center;
  color: #616161;
}

.container {
  display: flex;
  align-items: center;
  margin-top: 10em;
  background: #F5E2C8;
  position: absolute;
  width: 100%;
  height: 83%;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-evenly;
}

.logo {
  align-items: center;
  margin-left: 8%;
}

.logos {
  font-family: 'Manrope';
  font-style: extra-bold;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  color: #5c2a71;
}

.image {
  width: 274px;
}

.form-container {
  width: 455px;
  height: 454px;
  background: #FFFFFF;
  border-radius: 8px;
}

.input-group {
  display: flex;
  margin-top: 50px;
  width: 100%;
}

.input {
  width: 100%;
  height: 50px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 40px;
}

.button {
  width: 82%;
  height: 70px;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  background: #92140C;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
}